In [17]:
##
# Proyecto OW Simulación
# Joshua Chicoj, Oscar Estrada, Majo Gil, Roberto
# Cálculo de probabilidades de mapa por equipo
##

# Imports
import pandas as pd
import numpy as np


# Read data
dfOW = pd.read_csv('Team Comp vs Opp Comp_the big cheese_data.csv')
dfOW.replace('Win', 1, inplace=True)
dfOW.replace('Loss', 0, inplace=True)
dfOW.replace('Draw', 0.5, inplace=True)
dfOW = dfOW[~dfOW['map_name'].isin(['Hanamura', 'Paris', 'Horizon Lunar Colony', 'Temple of Anubis', 'Volskaya Industries'])]

dfOW['Times'] = 1
print(dfOW)

                     team_name opponent (the big cheese)  Result  \
0                Seoul Dynasty           Chengdu Hunters     1.0
1           Washington Justice        New York Excelsior     1.0
2                Atlanta Reign            Florida Mayhem     1.0
3                  Dallas Fuel           London Spitfire     1.0
4               Florida Mayhem             Vegas Eternal     1.0
...                        ...                       ...     ...
848812         London Spitfire            Hangzhou Spark     0.0
848813     San Francisco Shock        Washington Justice     0.0
848814      Washington Justice           Boston Uprising     0.0
848815          Florida Mayhem             Seoul Dynasty     0.0
848816  Los Angeles Gladiators           Boston Uprising     0.0

                   map_name  Season  Times
0                     Ilios    2022      1
1                     Ilios    2022      1
2             Lijiang Tower    2022      1
3             Lijiang Tower    2022      1
4             Lijiang Tower    2022      1
...                     ...     ...    ...
848812        Lijiang Tower    2022      1
848813                Nepal    2022      1
848814                Ilios    2023      1
848815                Ilios    2022      1
848816  Antarctic Peninsula    2023      1

[736015 rows x 6 columns]
                     team_name opponent (the big cheese)  Result  \
0                Seoul Dynasty           Chengdu Hunters     1.0
1           Washington Justice        New York Excelsior     1.0
2                Atlanta Reign            Florida Mayhem     1.0
3                  Dallas Fuel           London Spitfire     1.0
4               Florida Mayhem             Vegas Eternal     1.0
...                        ...                       ...     ...
848812         London Spitfire            Hangzhou Spark     0.0
848813     San Francisco Shock        Washington Justice     0.0
848814      Washington Justice           Boston Uprising     0.0
848815          Florida Mayhem             Seoul Dynasty     0.0
848816  Los Angeles Gladiators           Boston Uprising     0.0

                   map_name  Season  Times
0                     Ilios    2022      1
1                     Ilios    2022      1
2             Lijiang Tower    2022      1
3             Lijiang Tower    2022      1
4             Lijiang Tower    2022      1
...                     ...     ...    ...
848812        Lijiang Tower    2022      1
848813                Nepal    2022      1
848814                Ilios    2023      1
848815                Ilios    2022      1
848816  Antarctic Peninsula    2023      1

[736015 rows x 6 columns]

In [18]:
# Make dictionary
teamNames = dfOW['team_name'].unique()
mapNames = dfOW['map_name'].unique()
mapNames = np.setdiff1d(mapNames, ['Hanamura', 'Paris', 'Horizon Lunar Colony', 'Temple of Anubis', 'Volskaya Industries'])

teamNames

array(['Seoul Dynasty', 'Washington Justice', 'Atlanta Reign',
       'Dallas Fuel', 'Florida Mayhem', 'Toronto Defiant',
       'Los Angeles Gladiators', 'Guangzhou Charge', 'Hangzhou Spark',
       'San Francisco Shock', 'Seoul Infernal', 'Shanghai Dragons',
       'Chengdu Hunters', 'Vancouver Titans', 'Houston Outlaws',
       'Los Angeles Valiant', 'London Spitfire', 'Vegas Eternal',
       'New York Excelsior', 'Boston Uprising', 'Poker Face', 'Rhodes',
       'O2 Blast', 'PANTHERA', 'Sin Prisa Gaming', 'Dreamers',
       'Trick Room', 'Twisted Minds', 'Saints', 'Redbird Esports',
       'Timeless', 'Team Peps', 'WISP'], dtype=object)

array(['Seoul Dynasty', 'Washington Justice', 'Atlanta Reign',
       'Dallas Fuel', 'Florida Mayhem', 'Toronto Defiant',
       'Los Angeles Gladiators', 'Guangzhou Charge', 'Hangzhou Spark',
       'San Francisco Shock', 'Seoul Infernal', 'Shanghai Dragons',
       'Chengdu Hunters', 'Vancouver Titans', 'Houston Outlaws',
       'Los Angeles Valiant', 'London Spitfire', 'Vegas Eternal',
       'New York Excelsior', 'Boston Uprising', 'Poker Face', 'Rhodes',
       'O2 Blast', 'PANTHERA', 'Sin Prisa Gaming', 'Dreamers',
       'Trick Room', 'Twisted Minds', 'Saints', 'Redbird Esports',
       'Timeless', 'Team Peps', 'WISP'], dtype=object)

In [19]:
# Get wins and times played
dfOW = dfOW.rename(columns={'opponent (the big cheese)': 'opponent_name'})

stats1 = dfOW.groupby(['team_name', 'opponent_name','map_name'])['Result'].sum().reset_index().rename(columns = {'0': 'frecuencia'})
times1 = dfOW.groupby(['team_name', 'opponent_name', 'map_name'])['Times'].sum().reset_index().rename(columns = {'0': 'frecuencia'})

stats1

               team_name    opponent_name               map_name  Result
0          Atlanta Reign  Boston Uprising         Blizzard World    42.5
1          Atlanta Reign  Boston Uprising                  Busan    65.0
2          Atlanta Reign  Boston Uprising          Circuit royal    23.5
3          Atlanta Reign  Boston Uprising               Colosseo    38.0
4          Atlanta Reign  Boston Uprising            Eichenwalde   150.0
...                  ...              ...                    ...     ...
4969  Washington Justice    Vegas Eternal                 Rialto    70.0
4970  Washington Justice    Vegas Eternal               Route 66    30.0
4971  Washington Justice    Vegas Eternal  Watchpoint: Gibraltar    60.0
4972  Washington Justice             WISP             King's Row    55.0
4973  Washington Justice             WISP          Lijiang Tower    45.0

[4974 rows x 4 columns]

               team_name    opponent_name               map_name  Result
0          Atlanta Reign  Boston Uprising         Blizzard World    42.5
1          Atlanta Reign  Boston Uprising                  Busan    65.0
2          Atlanta Reign  Boston Uprising          Circuit royal    23.5
3          Atlanta Reign  Boston Uprising               Colosseo    38.0
4          Atlanta Reign  Boston Uprising            Eichenwalde   150.0
...                  ...              ...                    ...     ...
4969  Washington Justice    Vegas Eternal                 Rialto    70.0
4970  Washington Justice    Vegas Eternal               Route 66    30.0
4971  Washington Justice    Vegas Eternal  Watchpoint: Gibraltar    60.0
4972  Washington Justice             WISP             King's Row    55.0
4973  Washington Justice             WISP          Lijiang Tower    45.0

[4974 rows x 4 columns]

In [20]:
 # Get percentages
stats = pd.merge(stats1,times1, on = ['team_name','opponent_name', 'map_name'])

stats['WinRate'] = stats['Result']/stats['Times']

stats

,team_name,opponent_name,map_name,Result,Times,WinRate
0,Atlanta Reign,Boston Uprising,Blizzard World,42.5,75,0.566667
1,Atlanta Reign,Boston Uprising,Busan,65.0,159,0.408805
2,Atlanta Reign,Boston Uprising,Circuit royal,23.5,112,0.209821
3,Atlanta Reign,Boston Uprising,Colosseo,38.0,99,0.383838
4,Atlanta Reign,Boston Uprising,Eichenwalde,150.0,235,0.638298
...,...,...,...,...,...,...
4969,Washington Justice,Vegas Eternal,Rialto,70.0,141,0.496454
4970,Washington Justice,Vegas Eternal,Route 66,30.0,80,0.375000
4971,Washington Justice,Vegas Eternal,Watchpoint: Gibraltar,60.0,101,0.594059
4972,Washington Justice,WISP,King's Row,55.0,85,0.647059
4973,Washington Justice,WISP,Lijiang Tower,45.0,50,0.900000

,team_name,opponent_name,map_name,Result,Times,WinRate
0,Atlanta Reign,Boston Uprising,Blizzard World,42.5,75,0.566667
1,Atlanta Reign,Boston Uprising,Busan,65.0,159,0.408805
2,Atlanta Reign,Boston Uprising,Circuit royal,23.5,112,0.209821
3,Atlanta Reign,Boston Uprising,Colosseo,38.0,99,0.383838
4,Atlanta Reign,Boston Uprising,Eichenwalde,150.0,235,0.638298
...,...,...,...,...,...,...
4969,Washington Justice,Vegas Eternal,Rialto,70.0,141,0.496454
4970,Washington Justice,Vegas Eternal,Route 66,30.0,80,0.375000
4971,Washington Justice,Vegas Eternal,Watchpoint: Gibraltar,60.0,101,0.594059
4972,Washington Justice,WISP,King's Row,55.0,85,0.647059
4973,Washington Justice,WISP,Lijiang Tower,45.0,50,0.900000