In [94]:
##
# Proyecto OW Simulación
# Joshua Chicoj, Oscar Estrada, Majo Gil, Roberto
# Cálculo de probabilidades de mapa por equipo
##

# Imports
import pandas as pd
import numpy as np


# Read data
dfOW = pd.read_csv('Team Comp vs Opp Comp_the big cheese_data.csv')
dfOW.replace('Win', 1, inplace=True)
dfOW.replace('Loss', 0, inplace=True)
dfOW.drop(dfOW[dfOW['Result'] == 'Draw'].index, inplace = True)
dfOW = dfOW[~dfOW['map_name'].isin(['Hanamura', 'Paris', 'Horizon Lunar Colony', 'Temple of Anubis', 'Volskaya Industries'])]

dfOW['Times'] = 1
print(dfOW)

                     team_name opponent (the big cheese) Result  \
0                Seoul Dynasty           Chengdu Hunters      1
1           Washington Justice        New York Excelsior      1
2                Atlanta Reign            Florida Mayhem      1
3                  Dallas Fuel           London Spitfire      1
4               Florida Mayhem             Vegas Eternal      1
...                        ...                       ...    ...
848812         London Spitfire            Hangzhou Spark      0
848813     San Francisco Shock        Washington Justice      0
848814      Washington Justice           Boston Uprising      0
848815          Florida Mayhem             Seoul Dynasty      0
848816  Los Angeles Gladiators           Boston Uprising      0

                   map_name  Season  Times
0                     Ilios    2022      1
1                     Ilios    2022      1
2             Lijiang Tower    2022      1
3             Lijiang Tower    2022      1
4             Lijiang Tower    2022      1
...                     ...     ...    ...
848812        Lijiang Tower    2022      1
848813                Nepal    2022      1
848814                Ilios    2023      1
848815                Ilios    2022      1
848816  Antarctic Peninsula    2023      1

[686177 rows x 6 columns]

In [95]:
# Make dictionary
teamNames = dfOW['team_name'].unique()
mapNames = dfOW['map_name'].unique()
mapNames = np.setdiff1d(mapNames, ['Hanamura', 'Paris', 'Horizon Lunar Colony', 'Temple of Anubis', 'Volskaya Industries'])

In [85]:
# Get wins and times played
dfOW2 = dfOW.drop(['team_name'], axis=1).rename(columns={'opponent (the big cheese)': 'team_name'})

stats1 = dfOW.groupby(['team_name', 'map_name'])['Result'].sum().reset_index().rename(columns = {'0': 'frecuencia'})
times1 = dfOW.groupby(['team_name', 'map_name'])['Times'].sum().reset_index().rename(columns = {'0': 'frecuencia'})

times2 = dfOW2.groupby(['team_name', 'map_name'])['Times'].sum().reset_index().rename(columns = {'0': 'frecuencia'})

stats2 = dfOW2.groupby(['team_name', 'map_name'])['Result'].sum().reset_index().rename(columns = {'0': 'frecuencia'})


print(stats1)

              team_name               map_name  Result
0         Atlanta Reign    Antarctic Peninsula     150
1         Atlanta Reign         Blizzard World     676
2         Atlanta Reign                  Busan    1207
3         Atlanta Reign          Circuit royal     526
4         Atlanta Reign               Colosseo     653
..                  ...                    ...     ...
672  Washington Justice               Route 66     602
673  Washington Justice     Shambali Monastery     130
674  Washington Justice       Temple of Anubis     880
675  Washington Justice    Volskaya Industries     576
676  Washington Justice  Watchpoint: Gibraltar     636

[677 rows x 3 columns]

In [86]:
# Get percentages
stats = pd.merge(stats1,stats2, on =['team_name', 'map_name'])
times = pd.merge(times1,times2, on =['team_name', 'map_name'])
stats = pd.merge(stats,times, on = ['team_name', 'map_name'])
stats['Result'] = stats['Result_x']+ stats['Result_y']
stats['Times'] = stats['Times_x']+ stats['Times_y']

stats = stats.drop(['Result_y', 'Result_x','Times_x', 'Times_y'],  axis=1)

stats['WinRate'] = stats['Result']/stats['Times']

print(stats)

              team_name               map_name  Result  Times   WinRate
0         Atlanta Reign    Antarctic Peninsula     236    472  0.500000
1         Atlanta Reign         Blizzard World    1086   2198  0.494086
2         Atlanta Reign                  Busan    2304   4969  0.463675
3         Atlanta Reign          Circuit royal    1099   2162  0.508326
4         Atlanta Reign               Colosseo    1461   2971  0.491754
..                  ...                    ...     ...    ...       ...
672  Washington Justice               Route 66    1127   2585  0.435977
673  Washington Justice     Shambali Monastery     250    503  0.497018
674  Washington Justice       Temple of Anubis    1447   3212  0.450498
675  Washington Justice    Volskaya Industries    1134   2575  0.440388
676  Washington Justice  Watchpoint: Gibraltar    1381   2888  0.478186

[677 rows x 5 columns]